.nav {
  text-align: center;
  font-size: large;
  background-color: transparent;
}



.score {
  color: blue;
  font-weight: bold;
  color: white;
}

.nav-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}
