.nav {
  text-align: center;
}


.nav-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.nav-title {
  font-size: 1.5em;
}

.nav-score {
  text-align: left;
  margin: 0px;
}

.nav-high-score {
  text-align: right;
  margin: 0px;
}

.nav-intro {
  font-size: large;
}

